$input-placeholder-color:               $primary !default; 
$input-plaintext-color:                 $light !default; 
$custom-select-padding-y:           .1rem !default;
$custom-select-font-size-sm:        70% !default;
$custom-select-font-size-lg:        90% !default;
