metadata_2020-01-23
metadata_2020-02-05
*.pyc
includes/config.inc
11test.php
1test.html
2test.html
metadata/default/dataQuality.php.bak
*.bak
1.php
metadata/.settings/.jsdtscope
metadata/.settings/org.eclipse.wst.common.component
metadata/.settings/org.eclipse.wst.common.project.facet.core.xml
metadata/.settings/org.eclipse.wst.jsdt.ui.superType.container
metadata/.settings/org.eclipse.wst.jsdt.ui.superType.name
